<audio id="player"></audio>
<!--<canvas id="audio-spectrum"></canvas>-->
<img src={~p"/images/radio.gif"} alt="pink radio animation"/>
<p id="current-song-title"></p>
<button id="start-btn" phx-click="start_player">Listen</button>
<!--<button phx-click="stop_player">Stop</button>-->
