<audio id="player"></audio>
<!--<canvas id="audio-spectrum"></canvas>-->
<video autoplay loop muted playsinline>
  <source src={~p"/images/radio.webm"} type="video/webm" alt="pink radio animation"/>
  <source src={~p"/images/radio.webm"} type="video/mp4" alt="pink radio animation"/>
</video>
<p id="current-song-title"></p>
<button id="start-btn" phx-click="start_player">Listen</button>
<!--<button phx-click="stop_player">Stop</button>-->
