<main class="bg-primary-bg-color text-primary-text-color w-screen h-screen flex flex-col items-center justify-center font-mono">
  <div class="flex flex-col justify-center items-center">
    <.flash_group flash={@flash} />
    <%= @inner_content %>
  </div>
</main>
